!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Orange
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .hero
      .hero-body
        .columns
          .column.is-half.is-offset-one-quarter
            .has-text-centered.big-margin-bottom
              %h1.title.is-1.main-title
                %img{:height => "28", :src => "/assets/orange.png", :width => "120"}/
                = link_to "Orange", root_path, class: 'main-title-link'
            .card
              .card-content
                = yield
